$headerBackground: url(../img/m-h-day.jpg);
$backgroundColor:#fff;
$headerFont: 'Hind', sans-serif;
$headerFontColor: #21232e;
$underlineColor: #14a0c4;
$buttonColor: #699900;
$colorsButtonHover: (
  color1:#14a0c4,
  color2: #21232e
);
$sectionColor: #21232e;
$gradient_1:rgba(101,149,16,1);
$gradient_3: rgba(45,91,216,1);