$headerBackground: url(../img/m-h-night.jpg);
$backgroundColor:#21232e;
$headerFont: 'Fresca', sans-serif;
$headerFontColor: #fff;
$underlineColor: #ff4e33;
$buttonColor: #e3ac00;
$colorsButtonHover: (
  color1:#ff4e33,
  color2: #e3ac00
);
$sectionColor: #3b3f50;
$gradient_1:rgba(222,164,5,1);
$gradient_3: rgba(150,50,78,1);